@use '_hero';
@use 'variables';
@use 'shows';
@use 'plans';
@use 'available_devices';
@use 'faq';
@use 'footer';
@use 'header';


@font-face{
    font-family: Avenir;
    src: url(/assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face{
    font-family: Avenir;
    src: url(/assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
    list-style: none;
}

body {
    background-color: variables.$backgroundColor;
}


@mixin text($fontsize: 16px) {
    font-size: $fontsize;
    line-height: $fontsize + 10px;
    color: variables.$mainColorText;
}

@mixin title($fontSize: 28px){
    @include text ($fontSize);
    color: variables.$secondaryColorText;
}
.text--big {
    @include text(18px);

    @media (max-width:780px){
        @include text(15px);
        }  
}

.text {
    @include text;

    @media (max-width:780px){
        @include text(11px);
        }  
}

.text--small {
    @include text (12px);

    @media (max-width:780px){
        @include text(11px);
        }  
}

.title--big {
    @include title(44px);

    @media (max-width:780px){
        @include title(26px);
        }  
}

.title {
    @include title(40px);
    
    @media (max-width:780px){
    @include title(24px);
    }    
}

.title--small {
    @include title (28px);

    @media (max-width:780px){
        @include title(22px);
        }  
}

.link-text {
    @include text(18px);
    color: variables.$secondaryColorText;
    text-decoration: underline;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;;
    font-size: 18px;
    color: variables.$secondaryColorText;
    background-color: variables.$backgroundColorMainButton;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 8px 14px;
    text-decoration: none;
    letter-spacing: 1px;
    border: 1px solid variables.$backgroundColorMainButton;
    &:hover{
        background-color: lighten(variables.$backgroundColorMainButton, 3%);
    }
    &--secondary {
        background-color: variables.$backgroundColorSecondaryButton;

        &:hover{
            background-color: lighten(variables.$backgroundColorSecondaryButton, 3%);
        }
    }
    
    &--dark {
        background-color: rgba(variables.$backgroundColorDarkButton, 0.8);
        border-color: variables.$secondaryColorText
    }
}

.image-text-section {
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    @media (max-width: 768px){
        display:block;
    }
    img {
        max-width: 100%;
    }

    &__text-container{
        padding: 0 2vw;
        margin-bottom: 24px;

        h2 {
            margin-bottom: 24px;
        }
    }
    &--image-full-width {
        display:block;
        position: relative;

        img {
            width: 100%;
        }

        &__text-container {
            position: absolute;
            top: 0;
            height: 100%;
            width: calc(50% - 5.6vw);
            left: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media (max-width: 768px){
                position: relative;
                left: 0;
                width: 100%;
            }
        }
    }
}